:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a18268;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  /* #A18268 */
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;

// Раньше в CSS не было функции переменной root, поэтому использовали меременные в препроцессоре как указано ниже.
// По возможности не использовать переменные в препроцессорах. Но будут случаи, когда можно будет использовать только их
// $color-primary-dark:#31261a;

// bp - break point
// Под адаптацию переменные можно создать только через препроцессор SASS/SCSS. Через CSS нельзя
