/* .form-input:placeholder-shown {
  background-color: blue;
} */

/* .form-input:required {
  border-color: red;
} */

// .form-input:disabled {
//   border-color: lightgray;
// }

.form-input:disabled

/* .form-field:focus-within .form-label {
  transform: translate(-36px, 39px);
} */

.form-input::placeholder {
}
